
# standard
*.log
/bower_components
/node_modules
.idea
*-karma-test-results.xml
coverage
*egg-info*
*.pyc
/env34

# Mac
.DS_Store

# Project
/coverage
/dist
phantomjsdriver.log
karma-test-results.xml