<div class="container">
  <div class="row">
    <div class="center-form panel">
      <div class="panel-body">
        <h2 class="text-center">Log in</h2>

        <form method="post" ng-submit="login()" name="loginForm">
          <div class="form-group has-feedback">
            <input class="form-control input-lg" type="text" name="email"
                   ng-model="email" placeholder="Email" required
                   autofocus>
            <span class="ion-at form-control-feedback"></span>
          </div>

          <div class="form-group has-feedback">
            <input class="form-control input-lg" type="password"
                   name="password" ng-model="password"
                   placeholder="Password" required>
            <span class="ion-key form-control-feedback"></span>
          </div>

          <button class="btn btn-block btn-google-plus"
                  ng-click="UserLoginCtrl.authenticate('google')">
            <span class="ion-social-googleplus"></span>Sign in with Google
          </button>
          <button class="btn btn-block btn-twitter"
                  ng-click="UserLoginCtrl.authenticate('twitter')">
            <i class="ion-social-twitter"></i> Sign in with Twitter
          </button>
          <button type="submit" ng-disabled="loginForm.$invalid"
                  class="btn btn-lg  btn-block btn-success">Log in
          </button>

          <br/>

          <p class="text-center">
            <a href="#">Forgot your password?</a>
          </p>

          <p class="text-center text-muted">
            <small>Don't have an account yet? <a href="/#/signup">Sign
              up</a></small>
          </p>

          <div class="signup-or-separator">
            <h6 class="text">or</h6>
            <hr>
          </div>
        </form>

        <button class="btn btn-block btn-facebook"
                ng-click="authenticate('facebook')">
          <i class="ion-social-facebook"></i> Sign in with Facebook
        </button>
        <button class="btn btn-block btn-linkedin"
                ng-click="authenticate('linkedin')">
          <i class="ion-social-linkedin"></i> Sign in with LinkedIn
        </button>
        <button class="btn btn-block btn-github"
                ng-click="authenticate('github')">
          <i class="ion-social-github"></i> Sign in with GitHub
        </button>
        <button class="btn btn-block btn-foursquare"
                ng-click="authenticate('foursquare')">
          <i class="ion-social-foursquare"></i> Sign in with Foursquare
        </button>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div ng-if="UserLoginCtrl.message">{{ UserLoginCtrl.message }}</div>
  <h3 id="heading">Login</h3>

  <form name="userForm"
        ng-submit="UserLoginCtrl.submit(username, password)">
    <div class="field">
      <input id="username" name="username"
             ng-model="username"
             ng-minlength="1"
             ng-maxlength="30"
             required/>

      <input id="password" name="password"
             ng-model="password"
             required/>

      <div>
        <ng-messages for="userForm.username.$error" multiple>
          <ng-message when="required">
            You forgot to enter your email address.
          </ng-message>
          <ng-message when="minlength">
            Your email address is too short...
          </ng-message>
          <ng-message when="maxlength">
            Your email address is too long...
          </ng-message>
          <ng-message when="email">
            You did not enter your email address correctly...
          </ng-message>
        </ng-messages>
      </div>
    </div>

    <button ng-click="authenticate('twitter')">Sign in with Twitter
    </button>

    <input type="submit" id="submit" value="Login"/>
  </form>

</div>