<div id="header" class="container">
  <div class="navbar navbar-inverse navbar-fixed-top"
       role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="home">Moonshot</a>
    </div>
    <ul class="nav navbar-nav">
      <li ng-repeat="section in HeaderCtrl.sections"
          ui-sref-active="active">
        <a ui-sref="{{ section.state}}">{{ section.title }}</a>
      </li>
    </ul>
    <ul ng-if="!HeaderCtrl.isAuthenticated()"
        class="nav navbar-nav pull-right">
      <li>
        <a ui-sref="users.login">Login</a>
      </li>
      <li>
        <a href="/#/signup">Sign up</a>
      </li>
    </ul>
    <ul ng-if="HeaderCtrl.isAuthenticated()"
        class="nav navbar-nav pull-right">
      <li>
        <a ui-sref="users.logout">Logout</a>
      </li>
    </ul>
  </div>
  <div id="subsections" class="navbar" role="navigation">
    <ul class="nav navbar-nav">
      <li ng-repeat="subsection in HeaderCtrl.subsections">
        <a ui-sref="{{ subsection.state }}"
           ui-sref-active="active">{{ subsection.label }}</a>
      </li>
    </ul>
  </div>
</div>