<div id="header" class="container">
  <div class="navbar navbar-inverse navbar-fixed-top"
       role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="home">STORM Tracker</a>
    </div>
    <ul class="nav navbar-nav">
      <li ng-repeat="section in HeaderCtrl.sections"
          ui-sref-active="active">
        <a ui-sref="{{ section.state}}">{{ section.title }}</a>
      </li>
    </ul>

    <ul ng-if="!HeaderCtrl.$auth.isAuthenticated()"
        class="nav navbar-nav pull-right">
      <li><a ui-sref="siteroot.login">Login</a></li>
      <li><a href="/#/signup">Sign up</a></li>
    </ul>
    <ul ng-if="HeaderCtrl.$auth.isAuthenticated()"
        class="nav navbar-nav pull-right">
      <li ui-sref-active="active">
        <a ui-sref="siteroot.profile">Profile</a>
      </li>
      <li><a ng-click="HeaderCtrl.logout()" href="#">Logout</a></li>
    </ul>

  </div>
  <div id="subsections" class="navbar" role="navigation">
    <ul class="nav navbar-nav">
      <li ng-repeat="subsection in HeaderCtrl.subsections"
          ui-sref-active="active">
        <a ui-sref="{{ subsection.state }}">{{ subsection.label }}</a>
      </li>
    </ul>
  </div>
</div>