<h4>Contents</h4>
<ul>
    {% for child in context.values() %}
        <li>
            <a href="{{ request.resource_url(child) }}">{{ child.title }}</a>
        </li>
    {% endfor %}
</ul>
<h4>Users</h4>
    {% for user in view.users %}
        <li>
            {{ user.first_name }} {{ user.last_name }}
        </li>
    {% endfor %}
</ul>