<!DOCTYPE html>
<html ng-app="moonshot" data-mode="<%- mode %>">
<head>
  <meta charset="utf-8">
  <title>Moonshot</title>
  <% _.forEach(css, function(path) { %>
  <link href="<%- prefix %><%- path %>" rel="stylesheet">
  <% }); %>
  <% if (mode=="dev") { %>
  <script type="text/javascript">
    window.onerror = function (msg) {
      document.getElementsByTagName('body')[0].setAttribute('data-jserror', msg);
    };
  </script>
  <% } %>
</head>
<body>
<h1>hello</h1>

<!--   Boilerplate -->
<% _.forEach(js, function(path) { %>
<script src="<%- prefix %><%- path %>"></script>
<% }); %>
<% _.forEach(devjs, function(path) { %>
<script src="<%- prefix %><%- path %>"></script>
<% }); %>
<% if (mode=="dev") { %>
<script src="app/app.js"></script>
<% } %>

</body>
</html>
