<!DOCTYPE html>
<html ng-app="moonshot" data-mode="<%- mode %>">
<head>
  <meta charset="utf-8">
  <title>Moonshot</title>
  <% _.forEach(css, function(path) { %>
  <link href="<%- prefix %><%- path %>" rel="stylesheet">
  <% }); %>
  <link href="css/moonshot-styles.css" rel="stylesheet">
  <% if (mode=="dev") { %>
  <script type="text/javascript">
    window.onerror = function (msg) {
      document.getElementsByTagName('body')[0].setAttribute('data-jserror', msg);
    };
  </script>
  <% } %>
</head>
<body>

<div class="ui-view-container">
  <div ui-view="header"></div>
  <div id="content" class="container">
    <div class="pull-left">menu</div>
    <div ui-view="content"></div>
  </div>
</div>

<% _.forEach(js, function(path) { %>
<script src="<%- prefix %><%- path %>"></script>
<% }); %>
<% if (mode=="dev") { %>
<% _.forEach(libjs, function(path) { %>
<script src="<%- prefix %><%- path %>"></script>
<% }); %>
<% _.forEach(moonshotjs, function(path) { %>
<script src="../<%- path %>"></script>
<% }); %>
<% } %>

</body>
</html>
